In [32]:
# IMPORTANT: RUN THIS CELL IN ORDER TO IMPORT YOUR KAGGLE DATA SOURCES,
# THEN FEEL FREE TO DELETE THIS CELL.
# NOTE: THIS NOTEBOOK ENVIRONMENT DIFFERS FROM KAGGLE'S PYTHON
# ENVIRONMENT SO THERE MAY BE MISSING LIBRARIES USED BY YOUR
# NOTEBOOK.
import kagglehub
heeraldedhia_groceries_dataset_path = kagglehub.dataset_download('heeraldedhia/groceries-dataset')

print('Data source import complete.')

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.4)
Data source import complete.

In [33]:
# Install it if not installed
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.10/dist-packages (1.1.2)

In [34]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px
import matplotlib.pyplot as plt
from apyori import apriori

In [35]:
df = pd.read_csv('/content/Groceries_dataset.csv', parse_dates=['Date'])

<ipython-input-35-dd178305dc4d>:1: UserWarning:

Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.

In [36]:
df.shape

(38765, 3)

In [37]:
df.columns

Index(['Member_number', 'Date', 'itemDescription'], dtype='object')

In [53]:
df.head(10)

,Member_number,Date,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,1808,2015-07-21,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2552,2015-01-05,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,2300,2015-09-19,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1187,2015-12-12,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,3037,2015-02-01,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
5,4941,2015-02-14,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,4501,2015-05-08,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,3803,2015-12-23,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,2762,2015-03-20,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
9,4119,2015-02-12,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [39]:
df.isnull().any()

Member_number      False
Date               False
itemDescription    False
dtype: bool

In [40]:
all_products = df['itemDescription'].unique()
print("Total products: {}".format(len(all_products)))

Total products: 167

In [41]:
df['itemDescription'].value_counts()

itemDescription
whole milk               2502
other vegetables         1898
rolls/buns               1716
soda                     1514
yogurt                   1334
                         ...
rubbing alcohol             5
bags                        4
baby cosmetics              3
kitchen utensil             1
preservation products       1
Name: count, Length: 167, dtype: int64

In [42]:
df['Member_number'].value_counts()

Member_number
3180    36
3737    33
3050    33
2051    33
2625    31
        ..
2503     2
3301     2
1775     2
3723     2
2417     2
Name: count, Length: 3898, dtype: int64

In [43]:
def ditribution_plot(x,y,name=None,xaxis=None,yaxis=None):
    fig = go.Figure([
        go.Bar(x=x, y=y)
    ])

    fig.update_layout(
        title_text=name,
        xaxis_title=xaxis,
        yaxis_title=yaxis
    )
    fig.show()

In [44]:
x = df['itemDescription'].value_counts()
x = x.sort_values(ascending = False)
x = x[:10]

ditribution_plot(x=x.index, y=x.values, yaxis="Count", xaxis="Products")

In [45]:
one_hot = pd.get_dummies(df['itemDescription'])
df.drop('itemDescription', inplace=True, axis=1)
df = df.join(one_hot)
df.head()

,Member_number,Date,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,1808,2015-07-21,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,2552,2015-01-05,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,2300,2015-09-19,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1187,2015-12-12,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,3037,2015-02-01,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [46]:
records = df.groupby(["Member_number","Date"])[all_products[:]].apply(sum)
records = records.reset_index()[all_products]

<ipython-input-46-79d526c0d81d>:2: FutureWarning:

The provided callable <built-in function sum> is currently using np.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.sum instead.

/usr/local/lib/python3.10/dist-packages/numpy/core/fromnumeric.py:86: FutureWarning:

The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)

In [47]:
def get_Pnames(x):
    for product in all_products:
        if x[product] > 0:
            x[product] = product
    return x

records = records.apply(get_Pnames, axis=1)
records.head()

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'whole milk' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'soda' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'canned beer' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'sausage' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'frankfurter' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'beef' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'other vegetables' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'tropical fruit' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'butter milk' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'frozen meals' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'rolls/buns' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'root vegetables' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'dish cleaner' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'margarine' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'shopping bags' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'hamburger meat' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'canned fish' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'pastry' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'yogurt' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'pip fruit' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'sliced cheese' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'specialty bar' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'brown bread' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'bottled water' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'whipped/sour cream' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'meat' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'chicken' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'bottled beer' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'beverages' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'berries' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'curd' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'butter' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'fruit/vegetable juice' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'coffee' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'ham' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'citrus fruit' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'pot plants' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'newspapers' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'ice cream' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'dessert' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'candy' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'pork' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'pickled vegetables' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'hard cheese' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'white bread' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'red/blush wine' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'domestic eggs' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'detergent' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'semi-finished bread' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'misc. beverages' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'UHT-milk' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'specialty chocolate' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'photo/film' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'flour' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'packaged fruit/vegetables' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'white wine' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'herbs' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'hygiene articles' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'frozen potato products' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'sugar' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'liquor' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'chocolate' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'condensed milk' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'curd cheese' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'frozen vegetables' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'napkins' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'cleaner' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'pasta' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'sparkling wine' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'finished products' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'waffles' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'turkey' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'processed cheese' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'onions' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:

Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'cream cheese ' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.

<ipython-input-47-5918634529f9>:5: FutureWarning:


,tropical fruit,whole milk,pip fruit,other vegetables,rolls/buns,pot plants,citrus fruit,beef,frankfurter,chicken,...,flower (seeds),rice,tea,salad dressing,specialty vegetables,pudding powder,ready soups,make up remover,toilet cleaner,preservation products
0,0,whole milk,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,whole milk,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
print("Total Transactions: {}".format(len(records)))

Total Transactions: 14963

In [49]:
x = records.values
x = [sub[~(sub == 0)].tolist() for sub in x if sub[sub != 0].tolist()]
transactions = x

In [50]:
transactions[0:10]

[['whole milk', 'pastry', 'salty snack'],
 ['whole milk', 'yogurt', 'sausage', 'semi-finished bread'],
 ['soda', 'pickled vegetables'],
 ['canned beer', 'misc. beverages'],
 ['sausage', 'hygiene articles'],
 ['whole milk', 'rolls/buns', 'sausage'],
 ['whole milk', 'soda'],
 ['frankfurter', 'soda', 'whipped/sour cream'],
 ['beef', 'white bread'],
 ['frankfurter', 'curd']]

In [51]:
rules = apriori(transactions,min_support=0.00030,min_confidance=0.05,min_lift=3,min_length=2,target="rules")
association_results = list(rules)

In [52]:
for item in association_results:

    pair = item[0]
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    print("Support: " + str(item[1]))

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: specialty chocolate -> frozen fish
Support: 0.0003341575887188398
Confidence: 0.049019607843137254
Lift: 3.0689556157190907
=====================================
Rule: liver loaf -> fruit/vegetable juice
Support: 0.00040098910646260775
Confidence: 0.011787819253438114
Lift: 3.52762278978389
=====================================
Rule: pickled vegetables -> ham
Support: 0.0005346521419501437
Confidence: 0.03125
Lift: 3.4895055970149254
=====================================
Rule: meat -> roll products
Support: 0.0003341575887188398
Confidence: 0.019841269841269844
Lift: 3.620547812620984
=====================================
Rule: misc. beverages -> salt
Support: 0.0003341575887188398
Confidence: 0.0211864406779661
Lift: 3.5619405827461437
=====================================
Rule: misc. beverages -> spread cheese
Support: 0.0003341575887188398
Confidence: 0.0211864406779661
Lift: 3.170127118644068
=====================================
Rule: soups -> seasonal products
Support: 0.0003341575887188398
Confidence: 0.04716981132075471
Lift: 14.704205974842766
=====================================
Rule: spread cheese -> sugar
Support: 0.00040098910646260775
Confidence: 0.06
Lift: 3.3878490566037733
=====================================
Rule: bottled beer -> sausage
Support: 0.0003341575887188398
Confidence: 0.007374631268436578
Lift: 3.8050554368833285
=====================================
Rule: bottled beer -> hard cheese
Support: 0.0003341575887188398
Confidence: 0.007374631268436578
Lift: 3.9409502739148756
=====================================
Rule: frozen vegetables -> brown bread
Support: 0.0003341575887188398
Confidence: 0.008880994671403198
Lift: 6.644316163410303
=====================================
Rule: sausage -> brown bread
Support: 0.00040098910646260775
Confidence: 0.010657193605683837
Lift: 4.309826700590467
=====================================
Rule: butter -> frankfurter
Support: 0.0003341575887188398
Confidence: 0.009487666034155597
Lift: 3.086172758023265
=====================================
Rule: yogurt -> butter milk
Support: 0.0003341575887188398
Confidence: 0.019011406844106463
Lift: 4.9046151829028455
=====================================
Rule: frozen vegetables -> sausage
Support: 0.0003341575887188398
Confidence: 0.007122507122507123
Lift: 3.437873357228196
=====================================
Rule: hygiene articles -> whole milk
Support: 0.00040098910646260775
Confidence: 0.008547008547008546
Lift: 4.918803418803418
=====================================
Rule: soda -> chewing gum
Support: 0.00040098910646260775
Confidence: 0.03333333333333333
Lift: 5.732950191570881
=====================================
Rule: pork -> yogurt
Support: 0.00040098910646260775
Confidence: 0.004669260700389105
Lift: 3.4933073929961087
=====================================
Rule: frankfurter -> rolls/buns
Support: 0.0003341575887188398
Confidence: 0.008849557522123895
Lift: 3.6782202556538843
=====================================
Rule: frankfurter -> soda
Support: 0.0003341575887188398
Confidence: 0.010570824524312896
Lift: 3.438505377332475
=====================================
Rule: pastry -> sausage
Support: 0.0003341575887188398
Confidence: 0.010570824524312896
Lift: 3.2952343199436225
=====================================
Rule: sausage -> curd
Support: 0.0003341575887188398
Confidence: 0.009920634920634922
Lift: 5.497868900646679
=====================================
Rule: sausage -> curd
Support: 0.0003341575887188398
Confidence: 0.009920634920634922
Lift: 5.301516439909298
=====================================
Rule: sausage -> curd
Support: 0.00046782062420637575
Confidence: 0.007751937984496124
Lift: 3.4115367077063383
=====================================
Rule: other vegetables -> hard cheese
Support: 0.0003341575887188398
Confidence: 0.022727272727272728
Lift: 3.7785353535353536
=====================================
Rule: ice cream -> rolls/buns
Support: 0.0003341575887188398
Confidence: 0.022026431718061675
Lift: 4.453804024288606
=====================================
Rule: margarine -> shopping bags
Support: 0.0003341575887188398
Confidence: 0.01037344398340249
Lift: 3.1043568464730287
=====================================
Rule: yogurt -> sausage
Support: 0.00040098910646260775
Confidence: 0.0066445182724252485
Lift: 3.106935215946843
=====================================
Rule: newspapers -> sausage
Support: 0.0003341575887188398
Confidence: 0.006459948320413437
Lift: 3.580007656235047
=====================================
Rule: onions -> tropical fruit
Support: 0.0003341575887188398
Confidence: 0.016501650165016504
Lift: 3.1655665566556657
=====================================
Rule: other vegetables -> sausage
Support: 0.0003341575887188398
Confidence: 0.002736726874657909
Lift: 3.4124703521255246
=====================================
Rule: other vegetables -> yogurt
Support: 0.0003341575887188398
Confidence: 0.03333333333333333
Lift: 4.122038567493113
=====================================
Rule: pork -> sausage
Support: 0.00040098910646260775
Confidence: 0.004669260700389105
Lift: 3.037658602605312
=====================================
Rule: other vegetables -> whole milk
Support: 0.0003341575887188398
Confidence: 0.006459948320413437
Lift: 5.685894512843897
=====================================
Rule: whole milk -> rolls/buns
Support: 0.0003341575887188398
Confidence: 0.005537098560354374
Lift: 4.142580287929125
=====================================